@import "tailwindcss";

:root {
  --background: #f3efe8; /* Цвет античного мрамора */
  --foreground: #2c2a28; /* Глубокий камень */
  --gold: #b38b5d;       /* Античное золото */
  --terracotta: #9e4e3c; /* Терракотовый (греческие вазы) */
  --marble-grey: #d6cfc4;/* Тень мрамора */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-terracotta: var(--terracotta);
  --color-marble-grey: var(--marble-grey);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}